{% extends "base.html" %}
{% block scripts %}
    <script src="/static/js/chat.js"></script>
{% endblock %}
{% block content %}
    <div>
        {% if request.user.is_authenticated %}
            <div class="user-container">
                <h3>All Users</h3>
                {% for user in all_users %}
                    <span class="username">{{ user }}</span><br>
                {% endfor %}
            </div>
            <div class="chat-container">
                <div>
                    <textarea id="message" class="message-text"></textarea>
                    <button id="send" class="button-a send-but">Send</button>
                 </div>
                <input type="hidden" id="username" value="{{ request.user }}">
                {% for chat in chats %}
                    <div class="chat-message">
                        {{ chat.message }}
                        <span class="message-by"> - {{ chat.from_user }}</span>
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <span class="sub-heading">Login</span>
            <form method="post" action="/login/">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="button-a" value="Login">
            </form>
        {% endif %}
    </div>
{% endblock %}